{% load url from future %}

<html class="no-js fixed-layout" lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>Pachondi.com</title>
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body id="homepage" class="" data-view="app" data-responsive="false" data-user-signed-in="false" >
    

    <div class="page">

      <div class="page__canvas">
        <div class="canvas">
          <div class="canvas__header">
              <header class="site-header">
				  <div class="site-header__logo-and-account">
				    <div class="header-primary" style="height:75px;">
				  <div class="container">
				    <div class="header-primary__container">
				      <div class="header-primary__brand">
				        <div class="site-switcher" data-view="siteSwitcher">				  
						    <span class="logo">
						      Pachondi.com
						    </span>
						</div>
      				  </div>
					</div>				
			      	<div class="header-primary__right">
			        	<div class="header-primary__community-links">      
							{% block header_content %}
							{% endblock %}
				        </div>
				        <div class="header-primary__user-nav">
			        
			    	    </div>
			      	</div>
			    </div>
			  </div>
			</div>
		   
		</header>
		</div>

<div class="canvas__body">
            <div class="content-main" id="content">
            	
              <div class="container">
			  {% if messages %}
			    {% for message in messages %}
			    {% if "email_not_verified" in message.tags %}
					<p style="background-color:#FFE200;padding:5px;">
						{{ message }}		
					</p>
				{%else%}
							<p style="background-color:gray;padding:5px;">{{ message }}</p>
				{% endif %}
			    {% endfor %}
			
			{% endif %}
			<div id="home-panel" class="guest shadowed">
  <div class="inner-boundary">
    
  			{% block content %}
    		{% endblock %}
  
    </div>
  </div>
</div>


 
<div class="clear"><!--  --></div>


              </div>
            </div>

            <footer class="site-footer">
  <div class="site-footer__primary">
    <div class="footer-primary">
  <div class="container">

    <div class="footer-primary__group--first">
      <div class="footer-box">
        
        
          
        
      </div>
    </div>

    <div class="footer-primary__group--second">
      <div class="footer-box">
        
      </div>

      <div class="footer-box">
        
      </div>
    </div>

    <div class="footer-primary__group--third">
      <div class="footer-box">
        
      </div>

      <div class="footer-box is-hidden-tablet-and-below">
        <div class="footer-box__content">
        
        </div>
      </div>
    </div>

    <div class="footer-primary__group--fourth">
      <div class="footer-box">
        
      </div>
    </div>

  </div>
</div>
  </div>

  <div class="site-footer__secondary">
    <div class="footer-secondary">
  <div class="container">

    <div class="footer-secondary__branding">
      <div class="footer-branding">Pachondi        
        <span class="footer-branding__copyright">
          &copy; 2013
        </span>
        <a href="#" class="footer-branding__terms" rel="nofollow">Terms of Use</a>
      </div>
    </div>

    <ul class="footer-secondary__copyright">
      <li>Copyright &copy; 2013 <a href="#" target="_blank">Pachondi</a></li>
      <li><a href="#" rel="nofollow">Terms of Usage</a></li>
      <li><a href="#" target="_blank">Support/Help</a></li>      
    </ul>

    <div class="footer-secondary__trademarks">
      any info 
    </div>

  </div>
</div>
  </div>
</footer>
          </div>

  </body>
</html>