{% block group_member_settings %}

<div style='border:5px solid red;clear:both;float:right;'>
<h3> Group Member settings </h3>
<form method="get" action="{% url 'group-member-settings-update' group_member_settings_form.instance.id %}" style='border:1px solid black;'>
<table>

{% for field in group_member_settings_form %}
<tr><th>{{ field.label_tag }}:</th><th>{{ field.value }}</th></tr>
{% endfor %}

<tr><th colspan='2'><input type="submit" value="Update Membership Settings" /></th></tr>
</table>
</form>
</div>
{% endblock %}