{% extends "users/base.html" %}
{% block content %}
{% load url from future %}

 <form method="post">
	 {% csrf_token %}
  {% for field in form %}
  <p>
    {{ field.label_tag }}: {{ field }}
    {{ field.errors }}
  </p>
  <input type="hidden" id="hidden_field_mode" name="hidden_field_mode" value="edit" />
  <input type="hidden" id="hidden_field_category" name="hidden_field_category" value="admin" />
  
  {% endfor %}
  <p><input type="submit" value="Update Group" /></p>
</form>
{%endblock%}
