{% extends "users/base.html" %}
{% block content %}
{% load url from future %}
<div>
{{ object }} {{ groupmember }}
<h3> Group Member settings </h3>
<form action="{% url 'group-member-settings-update' groupmember.id %}" method="post">
<table>
{% for field in form %}
<tr><th>{{ field.label_tag }}:</th><th>{{ field }}</th><th>{{ field.errors }}</th></tr>
 {% endfor %}
<tr><th><input type="text" readonly="readonly" name="member_user" value="{{groupmember.user.id}}" /></th></tr>
<tr><th><input type="text" readonly="readonly" name="member_group" value="{{groupmember.group.id}}" /></th></tr>
<tr><th><input type="text" readonly="readonly" name="member_is_admin" value="{{groupmember.is_member_moderator}}" /></th></tr>
<tr><th><input type="text" readonly="readonly" name="member_is_owner" value="{{groupmember.is_member_owner}}" /></th></tr>
<tr><th><input type="submit" value="Update" /></th></tr>
</table>
</form>
</div>
{% endblock %}