{% extends "users/base.html" %}

{% block content %}
{% load url from future %}
<div class="profile">
<div id="profile_img" class="shadowed">
	<div class="inner-boundary"> 
	<div class="inner-border" style="width:100px;height:195px;">
		<img src="" align="center"/>
	</div>
	</div>
</div>

<div id="profile_basic" class="shadowed">
<div class="inner-boundary"> 
	<div class="inner-border">
		<h2>Basic Details</h2>
			<p><b>Display Name:</b>{{profile.display_name}}</p>
			<p><b>profile_photo:</b>{{profile.profile_photo}}</p>
			<p><b>professional_title:</b>{{profile.professional_title}}</p>
			<p><b>about_me:</b>{{profile.about_me}}</p>
			<p><b>region:</b>{{profile.region}}</p>
	</div>
</div>
</div>
</div>


{%if companies%}
<div class="shadowed profile">
<div class="inner-boundary"> 
	<div class="inner-border">   
	<h2>Work Experience (<a href="{%url 'profile_company' profile_id%}">Add New</a>)</h2>
	{% for company in companies %}
		<form method="get" action="{%url 'profile_company' profile_id company.id%}">
		<p><b>Company name:</b>{{company.company_name}}</p>
		<p><b>Industry:</b>{{company.industry}}</p>
		<p><b>Position Name:</b>{{company.position_name}}</p>
		<p><b>Period:</b>{{company.worked_from}} to {{company.worked_to}}</p>
		<input type="submit" value="Edit" />
		</form>
	{% endfor %}
</div>	
</div>
</div>
{%endif%}

{%if education%}
<div class="shadowed profile">
<div class="inner-boundary"> 
	<div class="inner-border">   
	<h2>Education (<a href="{%url 'profile_education' profile_id%}">Add New</a>)</h2>
	{% for edu in education %}
	<form method="get" action="{%url 'profile_education' profile_id edu.id%}">
		<p><b>Graduated from:</b>{{edu.school_name}}</p>
		<p><b>Degree:</b>{{edu.degree}}</p>
		<p><b>Field of study:</b>{{edu.field_of_study}}</p>
		<p><b>Grade:</b>{{edu.grade}}</p>
		<p><b>Activities:</b>{{edu.activities}}</p>
		<p><b>Description:</b>{{edu.descriptin}}</p>
		<p><b>Period:</b>{{edu.studied_from}} to {{edu.studied_to}}</p>
		<input type="submit" value="Edit" />
	</form>
	{% endfor %}
</div>	
</div>
</div>
{%endif%}

{%if skills%}
<div class="shadowed profile" style="margin-bottom:20px;">
<div class="inner-boundary"> 
	<div class="inner-border">   
	<h2>Skills</h2>
	{% for skill in skills %}
		<p><b>{{skill.skill_name}}</b></p>
		
	{% endfor %}
</div>	
</div>
</div>

{%endif%}
{%endblock%}