{% extends "users/base.html" %}
{% load url from future %}
{% block content %}

{{default_profile}}
<a href="{%url 'profile_basic'%}">View</a>
{%if profiles%}
<h3>Manage MaskedProfiles</h3>
<button value="Create New Profile"></button>
<table>
	<tr><td><b>Profile Name</b></td>
		<td><b>Manage Profile</b></td>
		<td><b>Default</b></td>
	</tr>
{% for profile in profiles %}
<tr>
	<td><span style="text-transform:capitalize">{{profile.name}}</span></td>
	<td><a href="{%url 'my_profile' profile.id%}">View</a></td>
	<td>{{profile.is_default}}</td>
	</tr>	
{% endfor %}
</table>
{%endif%}
{% endblock %}